<ion-header>
  <ion-toolbar>
    <ion-title>principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let c of usuario.contatos"(click)="testClick()">
    <ion-avatar slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-avatar>
    <ion-label>
      {{c.nome}}
    </ion-label>
  </ion-item>
  <ion-grid *ngIf="usuario.contatos.length === 0">
    <ion-row>
      <ion-text color="tertiary">Você não tem contatos adicionados</ion-text>
    </ion-row>
    <ion-row>
      <ion-button (click)="adicionar()"  color="tertiary">
        <ion-icon name="contacts"></ion-icon>
        Adicionar
      </ion-button>       
    </ion-row>
  </ion-grid>
</ion-content>
